<ion-view view-title="Garden Book: Pahiopedilum ">
    <ion-content  ng-class="{expanded:$scope.isExpanded}" style="background: url(img/background.png) center; background-size: cover; align:center; vertical-align: middle;">
	
		<div class="padding">
			
			<button ng-click="takeImage(true)" class="button button-block  pretty-thai-text icon-left ion-camera button-yellow ink">Take Picture - ถ่ายภาพ </button>
			<button ng-click="takeImage(false)" class="button button-block pretty-thai-text icon-left ion-images button-orange ink">Select Picture - เลือกรูป</button>
			<div class="padding center-text" ng-if="bestResult != null">
				<h2 class="pretty-slim-text"> {{bestResult}}</h2>
				<h3 class="pretty-thai-text"> {{nameToThai(bestResult)}}</h3>
				<img width="250px" src="{{imageURL}}">
			</div>
			<p class="pretty-thai-text"> {{describeThai(bestResult)}}</p>
			
		</div>
			
    </ion-content>
</ion-view>
