<ion-view view-title="User Registration">
    <ion-content ng-class="{expanded:isExpanded}" style="background: url(img/background-login.png) center; background-size: cover; align:center; vertical-align: middle;">
	<div  class="im-wrapper ">
		<div class="row">
			<div class="col col-50 col-center "><div class="app-icon-small"></div></div>
			<div class="col col-center"><h3 class="pretty-thai-text dark-text ">ลงทะเบียนใช้งาน</h3></div>
		</div>
		<form name="myForm" class="list" novalidate>
			<p class="item pretty-thai-text dark-text">โปรดกรอกข้อมูลทั่วไป</p>
			<div class="list rcorners" style="background: rgba(255, 255, 255, 0.8);">
			
			<label class="item item-input item-floating-label padding-left">
				<span class="input-label pretty-thai-text green-text">ชื่อ</span>
				<input type="text" class="pretty-thai-text" name="firstname" placeholder="ชื่อ" ng-model="formData.firstname" required>
			</label>
			<label class="item item-input item-floating-label padding-left">
				<span class="input-label pretty-thai-text green-text">นามสกุล</span>
				<input type="text" class="pretty-thai-text" name="lastname" placeholder="นามสกุล" ng-model="formData.lastname" required>
			</label>
			<label class="item item-input item-floating-label padding-left">
				<span class="input-label pretty-thai-text green-text">เบอร์โทรศัพท์</span>
				<input type="text" class="pretty-thai-text" name="phone" placeholder="เบอร์โทรศัพท์ (เช่น  099 9999999 ) " ng-model="formData.profile.phone"  ng-pattern="/^\d{10}$/"  required>
				
			</label>
			<label class="item item-input item-floating-label padding-left">
				<span class="input-label pretty-thai-text green-text">อีเมล์</span>
				<input type="email" class="pretty-thai-text" name="email" placeholder="อีเมล์ (เช่น user@email.com) " ng-model="formData.profile.email" required>
			</label>
			<div class="item item-icon-right" ion-datetime-picker date ng-model="formData.profile.birthday" required>
				  <div class="pretty-thai-text dark-text padding">วันเกิด: {{formData.profile.birthday| date: "yyyy-MM-dd"}} </div>
				  <i class="icon ion-ios-calendar green-text"></i>
			</div>
		
			</div>
			<BR/><BR/>
			<div class="rcorners-orange"><div class="padding">
			<h3 class=" pretty-thai-text light-text"><i class="icon ion-android-person"></i> ผู้ใช้งาน</h3>
				<label class="item item-input item-icon-left pretty-thai-text" style="background: rgba(255, 255, 255, 0.8);">
                   <i class="icon ion-android-person placeholder-icon"></i><input type="text"  class=" pretty-thai-text right-text" ng-required="true"  placeholder="ชื่อผู้ใช้" ng-model="formData.username">
				</label>
				<label class="item item-input item-icon-left pretty-thai-text" style="background: rgba(255, 255, 255, 0.8);">
                    <i class="icon ion-key placeholder-icon"></i><input type="password"  class=" pretty-thai-text right-text" ng-required="true" placeholder="ตั้งรหัสผ่าน"  ng-model="formData.password">
				</label>
				<label class="item item-input item-icon-left pretty-thai-text" style="background: rgba(255, 255, 255, 0.8);">
                    <i class="icon ion-key placeholder-icon"></i><input type="password"  class="pretty-thai-text right-text" ng-required="true" placeholder="ใส่รหัสผ่านอีกครั้ง"  ng-model="formData.repassword">
				</label>
			</div></div>
			 <div class="list padding-top">
				<p class="item pretty-thai-text dark-text" ng-show="myForm.$error.required">*  โปรดกรอกข้อมูลให้ครบ</p>
				<p class="item pretty-thai-text dark-text" ng-show="myForm.$error.email">* โปรดกรอกอีเมล์ที่ถูกต้อง</p>
				<p class="item pretty-thai-text dark-text" ng-show="myForm.phone.$error.pattern">* โปรดกรอกเบอร์โทรศัพท์ที่ถูกต้อง</p>
			</div>
			 
			<button class=" button login-button pretty-thai-text button-full button-orange ink" ng-disabled="myForm.$invalid" ng-click="submit()" >
					ลงทะเบียน
                </button>
			<button class=" button login-button pretty-thai-text button-full button-light ink"  ui-sref="app.login" >
					ยกเลิก
                </button>
			
		</form>
        </div>
    </ion-content>
</ion-view>
