<ion-view view-title="Smart HealthCare" >
    <ion-content  ng-class="{expanded:$scope.isExpanded}" style="background: url(img/background-login.png) center; background-size: cover; align:center; vertical-align: middle;">
		<div class="padding center-text">
			<img src="img/elegant-man-saluting.png">
			<h2 class="pretty-thai-text dark-text">ขอต้อนรับสู่ <BR/>Smart HealthCare</h2>
			<h5 class="pretty-thai-text dark-text">เริ่มต้นโดยการกดปุ่มเพื่อเพิ่มข้อมุลสุขภาพของคุณ</h5>
			<button class="pretty-thai-text dark-text button button-yellow ink" ui-sref="app.addPatient">เพิ่มข้อมูลสุขภาพ</button>

		</div>
    </ion-content>
</ion-view>
